<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	
<head>
<title>Admin Home</title>
<link href="../static/css/simple.css" th:href="@{/css/simple.css}" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
	<nav>
		<span class="brand-logo">Hello Administer [[${#httpServletRequest.remoteUser}]]!</span>				
		<a class="brand-right" href="/" th:action="@{/logout}">Logout</a>
	</nav>
	
	<ul class="nav nav-pills">
		<li><a href="/admin/create"> Create New User </a></li>
		<li><a href="/admin/userdetail"> User List </a></li>
	</ul>
	
	<h3></h3>
	<div class="container">

		<h4 class="control-label">Remaining Annual Leave Days: [[${user.annualleaveday}]]</h4>
		<h4 class="control-label">Remaining Medical Leave Days: [[${user.medicalleaveday}]]</h4>
		<h4 class="control-label">Remaining Compensation Leave Times: [[${user.overworkhour / 4}]]</h4>

	</div>
	<h3></h3>
	
</body>
</html>