<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head lang="en">
<title>All Leaves</title>
<link href="../static/css/simple.css" th:href="@{/css/simple.css}" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
	<nav>
		<span class="brand-logo">Hello Administer [[${#httpServletRequest.remoteUser}]]!</span>				
		<a class="brand-right" href="/" th:action="@{/logout}">Logout</a>
	</nav>
	
	<ul class="nav nav-pills">
		<li><a href="/admin/create"> Create New User </a></li>
		<li><a href="/admin/userdetail"> User List </a></li>
	</ul>
	
<div class="container">
		<h3>View User List</h3>
<div>
	<table class="table table-striped">
		<tr>
			<th>User ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Username</th>
			<th>ManagerId</th>
			<th>Role</th>
			<th>Annual Leave Days</th>
			<th>Medical Leave Days</th>
			<th>Compensation Leave Times</th>
			<th>Action</th>
		</tr>
		<tr th:each="u : ${(users)}">
			<td th:text="${u.id}">ID</td>
			<td th:text="${u.name}"></td>
			<td th:text="${u.email}"></td>
			<td th:text="${u.username}"></td>			
			<td th:text="${u.managerid}"></td>
			<td>
				<p th:if="${u.roleid == 1}">Administer</p>
				<p th:if="${u.roleid == 2}">Manager</p>
				<p th:if="${u.roleid == 3}">Employee</p>
			</td>
			<td th:text="${u.annualleaveday}"></td>
			<td th:text="${u.medicalleaveday}"></td>
			<td th:text="${u.overworkhour / 4}"></td>
			<td>			
				<form th:action="${'/admin/edit/' + u.id}" method="get">
					<button class="btn btn-xs btn-warning btn-block" type="Submit">Edit</button>
				</form>
				<form th:action="${'/admin/delete/' + u.id}" method="post">
					<button class="btn btn-xs btn-danger btn-block" type="Submit">Delete</button>
				</form>
			</td>
			<td></td>
		</tr>

		</table>
	</div>

	<div align="center">
		<form aria-label="Pagination" th:if="${users.totalPages gt 0}">
			<ul class="pagination justify-content-center font-weight-bold">
				<li class="page-item"
					th:classappend="${users.number eq 0} ? 'disabled'"><a
					class="page-link"
					th:href="@{/admin/userdetail?page={id}(id=${users.number lt 2 ? 1 : users.number})}"
					aria-label="Previous" title="Previous Page" data-toggle="tooltip">
						<span aria-hidden="true">&laquo;</span>
				</a></li>
				<li class="page-item"
					th:classappend="${i eq users.number + 1} ? 'active'"
					th:each="i : ${#numbers.sequence( 1, users.totalPages, 1)}"><a
					class="page-link" th:href="@{/admin/userdetail?page={id}(id=${i})}"
					th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
				</li>
				<li class="page-item"
					th:classappend="${users.number + 1 eq users.totalPages} ? 'disabled'">
					<a class="page-link"
					th:href="@{/admin/userdetail?page={id}(id=${users.number + 2})}"
					aria-label="Next" title="Next Page" data-toggle="tooltip"> <span
						aria-hidden="true">&raquo;</span>
				</a>
				</li>
			</ul>
		</form>
	</div>
	</div>
</body>
</html>

