<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head lang="en">
<title>Claim Compensation</title>
<link href="../static/css/simple.css" th:href="@{/css/simple.css}" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
	<nav>
		<div class="nav-wrapper">
			<span class="brand-logo">Hello Employee[[${#httpServletRequest.remoteUser}]]!</span> 
			<a class="brand-right" href="/" th:action="@{/logout}">Logout</a>
		</div>
	</nav>

	<h3>Claim a Compensation Leave</h3>

	<div class="container">
		<div>
			<form class="form-horizontal" th:object="${compensation}" th:action="@{/employee/claim}" method="post">

				<div class="form-group">
					<label class="col-sm-3 control-label">Overtime Work Date:</label>
					<div class="col-sm-7">
						<input type="date" th:field="*{date}">
						<label th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="validation-message"></label>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label">Overtime Work Hour:</label>
					<div class="col-sm-7">
						<input type="number" th:field="*{hour}">
						<label th:if="${#fields.hasErrors('hour')}" th:errors="*{hour}" class="validation-message"></label>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label">Overtime Work Reason:</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" th:field="*{reason}" />
					</div>
				</div>

				<div class="form-group">
					<div>
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>
				
				<div>
					<span th:utext="${successMessage}"></span>
				</div>
			</form>
		</div>
	</div>

	<nav>
		<form th:action="@{/employee/home}" method="get">
			<button class="btn btn-md btn-success" type="Submit">Back</button>
		</form>
	</nav>

</body>
</html>