<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Registration Form</title>
<link href="../static/css/simple.css" th:href="@{/css/simple.css}" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

	<nav>

		<p class="brand-logo">Welcome To ISS Leave Portal</p>

	</nav>

	<div class="container" align="center">
		<h3>Registration Form</h3>

		<form class="form-horizontal" th:action="@{/registration}" th:object="${user}" method="post">
			<div class="container">

				<table class="form-group">
					<tr>
						<td><span th:text="Name：" class="col-sm-3 control-label"></span></td>
						<td><input type="text" th:field="*{name}" class="col-sm-9" /></td>
					</tr>
					<tr th:if="${#fields.hasErrors('name')}">
						<td></td>
						<td><p style="color: #FF1C19" th:errors="*{name}"
								class="validation-message" /></td>
					</tr>

					<tr>
						<td><span th:text="Email：" class="col-sm-3 control-label"></span></td>
						<td><input type="text" th:field="*{email}" class="col-sm-9" /></td>
					</tr>
					<tr th:if="${#fields.hasErrors('email')}">
						<td></td>
						<td><p style="color: #FF1C19" th:errors="*{email}"
								class="validation-message" /></td>
					</tr>

					<tr>
						<td><span th:text="Username：" class="col-sm-3 control-label"></span></td>
						<td><input type="text" th:field="*{username}"
							class="col-sm-9" /></td>
					</tr>
					<tr th:if="${#fields.hasErrors('username')}">
						<td></td>
						<td><p style="color: #FF1C19" th:errors="*{username}"
								class="validation-message" /></td>
					</tr>

					<tr>
						<td><span th:text="Password：" class="col-sm-3 control-label"></span></td>
						<td><input type="password" th:field="*{password}"
							class="col-sm-9" /></td>
					</tr>
					<tr>
						<td></td>
						<td th:if="${#fields.hasErrors('password')}">
							<p style="color: #FF1C19" th:errors="*{password}"
								class="validation-message" />
						</td>
					</tr>

					<tr>
						<td><span th:text="'Manager ID：'"
							class="col-sm-3 control-label"></span></td>
						<td><input type="text" th:field="*{managerid}"
							class="col-sm-9" /></td>
					</tr>
					<tr>
						<td></td>
						<td th:if="${#fields.hasErrors('managerid')}">
							<p style="color: #FF1C19" th:errors="*{managerid}"
								class="validation-message" />
						</td>
					</tr>

					<tr>
						<td><span th:text="Role：" class="col-sm-3 control-label"></span></td>
						<td><select th:field="*{roleid}" class="col-sm-9">
								<option value="1">Administrator</option>
								<option value="2">Manager</option>
								<option value="3">Employee</option>
						</select></td>
						<td></td>
					</tr>

				</table>
				<br />
			</div>
			<button type="submit" class="btn btn-md btn-primary">Register User</button>
		</form>

		<span th:utext="${successMessage}"></span>
	</div>



</body>
</html>