<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Edit Leave Details</title>
<link href="../static/css/simple.css" th:href="@{/css/simple.css}" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

	<nav>
		<span class="brand-logo">Hello Manager [[${#httpServletRequest.remoteUser}]]!</span>
		<a class="brand-right" href="/" th:action="@{/logout}">Logout</a>
	</nav>

	<ul class="nav nav-pills">
		<li><a href="/manager/subleave"> Subordinate Leave List </a></li>
		<li><a href="/manager/subcompensation"> Subordinate Compensation Leave List </a></li>
		<li><a href="/manager/export"> Export </a></li>
	</ul>
		
	<div class="container">
		<h3>Reject Reason </h3>
		<div>
			<form class="form-horizontal" th:object="${commentView}" th:action="@{/manager/reject/}+${id}" method="post">
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Comment:</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{comment}">
						<label th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"	class="validation-message"></label>
					</div>
				</div>
				<div align="center">
					<div class="col-sm-2">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>

			</form>
		</div>
	</div>
</body>
</html>